.main-frame {
  width: 97vw; 
  height: 90vh;
  margin: 20px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}



.table-frame {
  width: 75%; 
  height: 90vh;
  overflow-y: auto;
}

.container-frame {
  border-radius: 20px;
  width: 30%;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.h-item {
  background-color: #242424;
}

.header-container{
  background-color: black;
  border-radius: 5px;
  min-height: 300px;
  display: flex;
  
}